  @media (max-width:600px) {


    .taskbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #7a0e12;
  color: rgb(73, 146, 39);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
























  }